[submodule "wp-app/wp-content/themes/cinema24-theme"]
	path = wp-app/wp-content/themes/cinema24-theme
	url = git@github.com:gipsy/cinema24-theme.git
[submodule "wp-app/wp-content/plugins/bootstrap-modal-plugin"]
	path = wp-app/wp-content/plugins/bootstrap-modal-plugin
	url = git@github.com:gipsy/bootstrap-modal-plugin.git
[submodule "wp-app/wp-content/plugins/site-reviews-plugin"]
	path = wp-app/wp-content/plugins/site-reviews-plugin
	url = git@github.com:gipsy/site-reviews-plugin.git
